#authors__card {
  color: black;
  object-fit: cover;
  margin: 9%;
  min-height: 40vw;
  max-height: 120vw;
  padding: 10%;
  margin-bottom: 10%;
  font-family: monospace;
  box-shadow: 11px 17px 13px 10px #ccc;
  border-radius: 40px;
  text-align: center;
}

.authors__img {
  height: 200px;
  width: 128px;
  object-fit: contain;
}

.authors__h2 {
  font-size: 1vw;
}
.authors__h5 {
  font-size: 1vw;
}
